__pycache__/
*.py[cod]

venv/
.env

dist/
*.egg-info/

.coverage
*.py,cover
.cache/
.venv
.csv
*.pkl
*.py,cover

eda/mlflow/mlruns/
eda/mlflow/mlartifacts/
eda/mlflow/mlruns.db
eda/mlflow/mlruns.db-shm
eda/mlflow/mlruns.db-wal

eda/research/mlruns
eda/research/catboost_info

# Grafana & Prometheus data
eda/services/grafana/data/
eda/services/prometheus/data/